.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #32043b, #228b22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-top-color: #800080 ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  .loader-text {
      font-family: 'Courier New', monospace;
      color: white;
      font-size: 24px;
      margin-top: 20px;
      text-align: center;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  